html,
body {
  width: 100%;
  margin: 0px;
  overflow-x: hidden;
}

#response {
  transform: translateY(30vh);
  width: 100%;
  height: 62%;
}

#response a {
  cursor: pointer !important;
  color: lightskyblue;
}

#response a:hover {
  color: darkblue;
}
