html {
  overflow-x: hidden;
}
body {
  width: 100%;
  margin: 0px;
  overflow-x: hidden;
}

.container {
  margin-top: 5%;
}

/* nav img {
  width: 10vw;
  height: 8vh;
} */

nav a,
nav button {
  color: #063666;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

#backg {
  width: 100%;
  background: url("../static/SVG/background.svg") no-repeat;
  background-size: cover;
  height: 85vh;
  padding-top: 10%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#backg h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding-top: 10%;
}

#backg img {
  margin-top: 50px;
}

#about_content,
#services,
#contactus {
  text-align: center;
}

#about_content label,
#services label,
#ourwork label,
#contactus label,
#photographywork label {
  color: #283d50;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}

#about_details1 p,
#about_details2 p {
  color: #556877;
  margin: auto;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(1, 53, 109, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

footer {
  background-color: #014a99;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: lightblue;
  text-decoration: none;
  cursor: pointer;
}

footer p {
  width: 75%;
  font-size: 12px;
}

.copyright {
  background-color: #004289;
}

#services {
  padding-bottom: 50px;
  text-align: center;
  width: 100vw;
}

#services li {
  letter-spacing: 0.1em;
}

#service1 label,
#service2 label {
  color: #283d50;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

#service1_subservices,
#service2_subservices {
  text-align: left;
}

#slider1 {
  width: 100%;
  height: 450px;
  border-radius: 5%;
}

/* #slider1, */
#slider2,
#slider3,
#slider4 {
  width: 300px;
  height: 300px;
  border-radius: 5%;
  box-shadow: 2px -2px 10px black;
  margin-bottom: 5%;
}

#slider1 {
  box-shadow: 2px -2px 10px white;
}

#slider1 img,
#slider2 img,
#slider3 img,
#slider4 img {
  border-radius: 5%;
}

.twentytwenty-overlay {
  display: none;
}

#ourwork {
  background-color: #ebf4f8;
}

.imgsetting {
  background-color: #51636a !important;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.imgsetting i {
  margin-top: 25%;
}

@media (max-width: 325px) {
  nav a img {
    width: 60;
  }

  nav a label {
    font-size: 0.9rem;
  }

  #backg {
    height: 65vh;
  }

  #backg h2 {
    font-size: 30px;
    font-weight: 500;
    padding-left: 15%;
    margin-top: 12%;
  }

  #backg img {
    display: none;
  }

  .ourworkelements {
    padding-bottom: 40px;
  }

  .address,
  .phone {
    padding-bottom: 5%;
  }

  .contactelements {
    padding-left: 15%;
  }

  footer p {
    padding-left: 25%;
  }
}

@media (min-width: 326px) and (max-width: 363px) {
  nav a img {
    width: 60;
  }

  nav a label {
    font-size: 0.9rem;
  }

  #backg {
    height: 60vh;
  }

  #backg h2 {
    font-size: 30px;
    font-weight: 500;
    padding-left: 15%;
    margin-top: 12%;
  }

  #backg img {
    display: none;
  }

  .ourworkelements {
    padding-bottom: 40px;
  }

  .address,
  .phone {
    padding-bottom: 5%;
  }

  .contactelements {
    padding-left: 15%;
  }

  footer p {
    padding-left: 25%;
  }
}

@media (min-width: 364px) and (max-width: 575.98px) {
  nav a img {
    width: 70;
  }

  nav a label {
    font-size: 1rem;
  }

  #backg {
    height: 60vh;
  }

  #backg h2 {
    font-size: 30px;
    font-weight: 500;
    padding-left: 15%;
    margin-top: 12%;
  }

  #backg img {
    display: none;
  }

  .ourworkelements {
    padding-bottom: 40px;
  }

  .address,
  .phone {
    padding-bottom: 5%;
  }

  .contactelements {
    padding-left: 15%;
  }

  footer p {
    padding-left: 25%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #backg {
    height: 60vh;
  }

  #backg h2 {
    font-size: 30px;
    font-weight: 500;
    padding-left: 25%;
    margin-top: 12%;
  }

  #backg img {
    display: none;
  }

  .ourworkelements {
    padding-bottom: 40px;
  }

  .address,
  .phone {
    padding-bottom: 5%;
  }

  footer p {
    padding-left: 25%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #backg {
    height: 75vh;
  }

  #backg h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 20%;
  }

  #backg img {
    height: 400;
    width: 400;
  }

  .address,
  .phone {
    padding-bottom: 5%;
  }

  .ourworkelements {
    padding-bottom: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #backg h2 {
    font-size: 35px;
    margin-top: 20%;
  }
}

@media (min-width: 1200px) {
}
